# No-IP service unit for systemd
# Victor Manuel Fernandez Castro
# 10 April 2016

[Unit]
Description=No-IP update client
Documentation=https://github.com/vikman90/ip-update
After=network-online.target

[Service]
Type=simple
PIDFile=/run/noip.pid
ExecStart=/bin/sh /usr/local/bin/noip.sh

[Install]
WantedBy=multi-user.target

